.dashboard {
  background-color: #828282;
  color: #eee;
  min-height: 20vh;
  width: 46.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.4);
  margin: 20px;
}

div > h2 {
  font-size: 60px;
}
div > p {
  font-size: 20px;
  width: 100%;
  text-align: start;
  padding-left: 40px;
}
