form {
  margin: 40px;
}
.formItem {
  display: flex;
}
.formItem > div {
  margin-right: 20px;
}

input,
select,
textarea {
  margin: 10px 0;
  padding: 6px 15px;
  border-radius: 5px;
  font-size: 17px;
  background-color: #e2e2e2;
}

.container {
  display: flex;
  justify-content: center;
}
