.navigationButton {
  margin: 20px;
  font-size: 20px;
  position: relative;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease, padding-bottom 0.3s ease;
}

.navigationButton::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #101010;
  transition: width 0.3s ease;
}

.navigationButton:hover::after {
  width: 100%;
}
